/* Custom CSS for Blog Page */
body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: Arial, sans-serif;
}


.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    color: #007bff;
}

.card-subtitle {
    color: #6c757d;
}
